@import "../base/variables";
@import "../base/extends";


.body__page {

    .container {

        .title__pages {
            @extend %font__general;
            margin-top: 90px;
            text-align: center;
            text-decoration: underline 1px;

        }

        .row__alquiler {
            @media screen and (max-width: 450px) {
                display: grid;
                justify-items: center; 
                grid-template-areas: 
                      "isadoratext"
                      "isadoraimg"
                      "gotantext"
                      "gotanimg"; 
                  }
                  .alquiler__imagen--Isadora { grid-area: isadoraimg; }
                  .alquiler__imagen--gotan { grid-area: gotanimg; }
                  .isadora { grid-area: isadoratext; }
                  .gotan { grid-area: gotantext; }

            .alquiler__imagen {
                @media screen and (max-width: 450px) {
                    width: 20rem;
                }
                @extend %flex__center;

                .img-sala {
                    padding-top: 3em;
                    width: 70%;
                    @media screen and (max-width: 450px) {
                        padding-bottom: 3em;
                        padding-top: 0px;
                    }

                    &:hover {
                        
                        transform: scale(1.3);
                        transition: all 1s;
                        cursor: pointer;
                    
                    }

                    @media screen and (max-width: 450px) {
                        width: 90%;
                    }

                }

            } 
          
           .alquiler__content {
                padding-top: 2em;
                @media screen and (max-width: 450px) {
                    padding: 1.1em;
                    width: 20em;
                }

                .alquiler__h4 {
                    @extend %font__general;
                    padding: 20px;
                    text-align: center;
                    font-size: 22px;
                    letter-spacing: 2px;
                    background-clip: text;
                    font-weight: bold;

                    @media screen and (max-width: 450px) {
                        font-size: 1rem;
                    }

                }

                .alquiler__item {
                    @extend %texts;
                    padding: 10px;
                    background-color: $bg-text;

                    @media screen and (max-width: 450px) {
                        font-size: 12px;
                    }

                    .li__medidas {
                        text-align: center;
                        font-weight: bolder;
                         background-color:  $bg-link;

                    }
                }
            }

            .h4__gotan {
                background-image: linear-gradient(to left, $bg-gradient-salas);

            }

            .h4__isadora {
                background-image: linear-gradient(to right, $bg-gradient-salas);

            }

        }

        

        .salas__contacto {
            @extend %texts;
            font-size: 18px;
            padding: 10px;
            margin: 10px;
            background-color: $bg-text;

            @media screen and (max-width: 450px) {
                padding: 0.3em;
                font-size: 12px;
            }

            a {
                @extend %font__general;

                &:active, &:hover {
                    background-color: $bg-link;

                }
            }
        }
    }
}